@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

:root {
  /* Pallete - Light purple */
  --primary-color: #d4c5ff;
  --primary-color-light-1: #efdcff;
  --primary-color-dark-1: #a696d2;

  --secondary-color: #4a2f98;
  --secondary-color-dark-1: #321d71;

  --primary-text-color-dark: #333;
  --primary-text-color-dark-1: #222;
  --primary-text-color-light: #fff;
  --primary-text-color-light-1: #eee;

  /* Used in customized horizontal scroller to make the thumb transparent */
  --func-transparent: rgba(0, 0, 0, 0);
  /* Used in customized horizontal scroller to give the thumb color */
  --func-scroll-thumb: rgba(0, 0, 0, 0.3);
  /* Changed in other palettes other than light-mode and affects the border of each item in the carousel */
  --func-card-border: var(--func-transparent);
  /* provides customized circular border for buttons */
  --func-circular-border: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23000000FF' stroke-width='1' stroke-dasharray='7' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");

  --logo-font: "Indie Flower";
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--primary-text-color-light);
  color: var(--primary-text-color-dark);
  overflow-x: hidden;

  transition-duration: 100ms;
}

body.light {
  /* Pallete - Light purple */
  --primary-color: #d4c5ff;
  --primary-color-light-1: #efdcff;
  --primary-color-dark-1: #a696d2;

  --secondary-color: #4a2f98;
  --secondary-color-dark-1: #321d71;

  --primary-text-color-dark: #333;
  --primary-text-color-dark-1: #222;
  --primary-text-color-light: #fff;
  --primary-text-color-light-1: #eee;

  --func-transparent: rgba(0, 0, 0, 0);
  --func-scroll-thumb: rgba(0, 0, 0, 0.3);
  --func-card-border: var(--func-transparent);
  --func-circular-border: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%234a2f98' stroke-width='1' stroke-dasharray='7' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
}

body.dark {
  /* Pallete - Dark blue */
  --primary-color: #2e2d5b;
  --primary-color-light-1: #333e63;
  --primary-color-dark-1: #211e57;

  --secondary-color: #bfdef7;
  --secondary-color-dark-1: #a6bbcd;

  --primary-text-color-dark: #fff;
  --primary-text-color-dark-1: #eee;
  --primary-text-color-light: #333;
  --primary-text-color-light-1: #222;

  --func-transparent: rgba(0, 0, 0, 0);
  --func-scroll-thumb: rgba(255, 255, 255, 0.3);
  --func-card-border: 1px solid var(--primary-text-color-dark);
  --func-circular-border: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23bfdef7' stroke-width='1' stroke-dasharray='7' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
}

nav {
  z-index: 1;
  position: fixed;
  width: 100vw;
  top: 0;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 10px 20px;

  background: var(--primary-color);

  border-bottom: 1px dashed var(--secondary-color);
}

nav ul .fancy-btn {
  margin: auto 10px;
}

main {
  margin-top: 4.75em;
}

main > div.content {
  margin-left: 200px;
}

main > div.error {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

aside {
  position: fixed;

  height: 100%;
  width: 200px;

  font-size: 0.9em;

  background-color: var(--primary-color);
  border-right: 1px dashed var(--secondary-color);
  color: var(--secondary-color-dark-1);

  display: flex;
  flex-direction: column;

  z-index: 999;

  overflow: auto;
}

aside::-webkit-scrollbar {
  width: 8px;
}

aside::-webkit-scrollbar-track {
  border-radius: 10px;
  border: 2px solid var(--secondary-color-dark-1);
}

aside::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 10px;
  background-color: var(--primary-color-dark-1);
}

main > div.content,
aside {
  transition-duration: 400ms;
  transition-timing-function: ease;
}

main > div {
  padding-top: 15px;
}

main > div.unpadded {
  padding: 0;
}

.logo {
  font-family: var(--logo-font);
  font-size: 2em;

  margin: 7px 15px auto 15px;
  user-select: none;
}

.burger-menu {
  display: none;
}

.sidebar-items .logo {
  display: none;
  padding-left: 0;
  text-align: center;

  color: var(--primary-text-color-dark);
  margin-bottom: 12px;
  border-bottom: 1px solid var(--primary-text-color-dark);
}

.sidebar-items .logo:hover {
  background-color: initial;
}

@media only screen and (max-width: 800px) {
  main > div.content {
    margin-left: 0;
  }

  aside {
    transform: translateX(-200px);
  }

  aside.open {
    transform: translateX(0);
  }

  nav .logo {
    display: none;
  }

  .sidebar-items .logo {
    display: block;
  }

  nav li:nth-last-child(-n + 3) {
    display: none;
  }

  .burger-menu {
    display: block;
  }
}

@media (prefers-reduced-motion: reduce) {
  body,
  aside,
  main > div.content,
  .fancy-btn > div,
  .fancy-btn > div *,
  .carousel-items > li,
  .carousel-title h2 {
    transition-duration: 0ms !important;
    transition-timing-function: initial;
  }
}

.search-bar-container {
  margin: auto;
}
.search-bar {
  display: flex;
}

.search-bar input {
  height: 10px;
  width: 30vw;

  font-size: 1em;
  padding: 10px;

  background-color: var(--primary-text-color-light);
  color: var(--primary-text-color-dark-1);

  border: 1px solid var(--secondary-color);
}

.search-bar input:focus-visible {
  outline: 1px solid var(--secondary-color);
  background-color: var(--primary-text-color-light-1);
}

.search-bar button {
  color: var(--secondary-color);
  background: transparent;

  border: 1px solid var(--secondary-color);
  border-left: none;

  cursor: pointer;
}

.search-bar button:active {
  background: var(--primary-color-dark-1);
}

.search-bar button:focus-visible {
  outline: 1px solid var(--secondary-color);
  border-left: 1px solid var(--secondary-color);
}

.search-bar svg {
  vertical-align: middle;
  width: 2em;
  height: 2em;

  margin: auto 10px;
}

.fancy-btn {
  width: 55px;
  height: 55px;

  border: none;
  border-radius: 100%;
  background-color: var(--primary-text-color-light);

  padding: 0;

  cursor: pointer;
  user-select: none;
}

.fancy-btn:active {
  background-color: var(--primary-text-color-light-1);
}

.fancy-btn > div {
  width: inherit;
  height: inherit;

  background-color: transparent;
  background-image: var(--func-circular-border);
  border-radius: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 500ms;
}

.fancy-btn div * {
  width: 25px;
  height: 25px;

  color: var(--secondary-color);
  transition-duration: 300ms;
}

.fancy-btn:hover > div,
.fancy-btn:focus-visible > div {
  background-image: none;
  outline: 1.5px solid var(--secondary-color);
}

.fancy-btn:hover div *,
.fancy-btn:focus-visible div * {
  width: 30px;
  height: 30px;
}

.fancy-btn:focus-visible {
  outline: 1.5px solid var(--secondary-color);
}

.sidebar-items {
  margin-top: 15px;
}

.sidebar-items a {
  color: var(--secondary-color-dark-1);
  display: block;
  padding: 10px 5px 10px 5px;
  border-radius: 5px;
}

.sidebar-items li:hover {
  background-color: var(--primary-color-dark-1);
}

.sidebar-items a:active {
  color: var(--primary-text-color-dark-1);
}

.sidebar-items a:focus-visible {
  outline: 3px solid var(--secondary-color);
}

.sidebar-items div {
  display: inline-block;
  vertical-align: top;
  font-weight: 600;

  margin-left: 20px;
}

.sidebar-items svg {
  width: 20px;
  height: auto;
}

.sidebar-links {
  font-weight: 600;
  margin-top: auto;
}

.sidebar-links a {
  text-decoration: none;
  color: var(--secondary-color);
}

.footnote {
  margin-bottom: 95px;
}

.sidebar-items,
.sidebar-links {
  padding-left: 0;
  list-style-type: none;
}

.sidebar-links li,
.sidebar-items li,
.footnote {
  padding-left: 20px;
}

.titled-banner img {
  object-fit: cover;
  object-position: 0 7%;
  width: 97%;
  height: 31vh;
}

main > div.unpadded .titled-banner {
  margin: 0;
}

main > div.unpadded .titled-banner img {
  width: 100%;
}

.transform-40 {
  transform: translateY(-150px);
}

.titled-image {
  display: flex;
  align-items: center;
  margin-right: 20%;
}

.titled-image :not(img) {
  transform: translateY(10px);
  vertical-align: middle;
}

.titled-image p {
  margin: 0 20px 0 10px;
  font-size: 1.7em;
  text-align: justify;
  transform: translateY(37px);
}

.titled-image > div {
  font-size: 1.7em;
}

.titled-image img {
  width: 200px;
  flex-shrink: 0;
}

.carousel-wrapper,
.titled-banner,
.titled-image {
  margin-left: 30px;
}

.carousel-wrapper ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.carousel-wrapper li {
  list-style: none;
}

.carousel-items {
  overflow-x: scroll;
  border-color: var(--func-transparent);

  transition: border-color 300ms;
}

.carousel-items::-webkit-scrollbar {
  border: 0;
  height: 10px;
}
.carousel-items::-webkit-scrollbar-corner,
.carousel-items::-webkit-scrollbar-thumb {
  border-color: inherit;
  border-right-style: inset;
  border-right-width: calc(100vw + 100vh);
  border-radius: 20px;
}

.carousel-items:hover,
.carousel-items:focus,
.carousel-items:active {
  border-color: var(--func-scroll-thumb);
}

.carousel-items > li {
  margin: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;

  border: var(--func-card-border);
  background-color: var(--primary-color-light-1);

  /* Temporary (to follow figma design)*/
  width: 236px;
  height: 454px;

  transition: 200ms;
}

.carousel-items > li:hover {
  transform: translate(0, -10px);
  cursor: pointer;
}

.carousel-items > li > div {
  margin: 10px;
}

.carousel-items img {
  height: 270px;
}

.carousel-title {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-title h2 {
  font-size: 0.8em;
  font-size: clamp(10px, 3vw, 0.8em);

  width: 200px;

  overflow-x: hidden;
  overflow-y: visible;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-underline-offset: 2px;

  transition-duration: 250ms;
}

.carousel-title h2:hover {
  color: var(--secondary-color-dark-1);
  text-decoration: underline;
}

/* The things we do for perfection */
.carousel-title div {
  margin-top: 5px;
}

.carousel-title svg {
  fill: var(--secondary-color);
}

.division-solid {
  width: 90%;
  border-top: var(--primary-text-color-dark);
  border-width: 1px;
  border-style: solid;
  margin: auto 5px;
}

.chips-wrapper {
  overflow-y: hidden;
  overflow-x: scroll;

  border-color: var(--func-transparent);
  transition: border-color 300ms;
}

.chips-wrapper:hover,
.chips-wrapper:focus,
.chips-wrapper:active {
  border-color: var(--func-scroll-thumb);
}

.chips {
  padding: 0 1px;
}

.chips > li:focus-within {
  outline: 3px solid var(--secondary-color-dark-1);
}

.chips > * {
  font-size: 0.8em;
  font-size: clamp(10px, 3vw, 0.8em);

  margin: 0 5px 4px 5px;
  padding: 3px 7px 4px 7px;

  background-color: var(--secondary-color);
  color: var(--primary-text-color-light-1);

  border-radius: 20px;
  white-space: nowrap;
}

.chips-wrapper::-webkit-scrollbar {
  height: 6px;
}

.chips-wrapper::-webkit-scrollbar-thumb,
.chips-wrapper::-webkit-scrollbar-corner {
  border-right-style: inset;
  border-right-width: calc(100vw + 100vh);
  border-color: inherit;
  border-radius: 20px;
}
