@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

:root {
  /* App colors */
  --lilac-1: #efdcff;
  --lilac-2: #d4c5ff;
  --lilac-3: #a696d2;

  --purple-1: #4a2f98;
  --purple-2: #321d71;

  --dark-gray-1: #333;
  --dark-gray-2: #222;

  /* Text colors */
  --text-dark: #eee;

  /* Light mode colors */
  --light: #fff;
  --text-light: #333;

  /* Scroller */
  --light-scroll-thumb: rgba(0, 0, 0, 0.3);

  /* Others */
  --transparent: rgba(0, 0, 0, 0);
  --logo-font: "Indie Flower";
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Styles influenced by light mode */
  background: var(--dark-gray-1);
  color: var(--purple-1);
  overflow-x: hidden;
}

body.light-mode {
  background: var(--light);
  color: var(--text-light);
}

nav {
  position: fixed;
  width: 100vw;
  top: 0;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 10px 20px;

  background: var(--lilac-2);

  border-bottom: 1px dashed var(--purple-1);
}

nav ul .fancy-btn {
  margin: auto 10px;
}

main {
  margin-top: 4.75em;
}

main > div {
  margin-left: 250px;
}

aside {
  position: fixed;

  height: 90%;
  width: 250px;

  background-color: var(--lilac-2);
  border-right: 1px dashed var(--purple-1);
  color: var(--purple-2);

  display: flex;
  flex-direction: column;
}

main > div > section:first-of-type {
  padding-top: 15px;
}

.logo {
  font-family: var(--logo-font);
  font-size: 2em;

  margin: 7px 15px auto 15px;
  user-select: none;
}

.search-bar-container {
  margin: auto;
}
.search-bar {
  display: flex;
}

.search-bar input {
  height: 10px;
  width: 30vw;

  font-size: 1em;
  padding: 10px;

  border: 1px solid var(--purple-1);
}

.search-bar input:focus-visible {
  outline: 1px solid var(--purple-1);
}

.search-bar button {
  color: var(--purple-1);
  background: transparent;

  border: 1px solid var(--purple-1);
  border-left: none;

  cursor: pointer;
}

.search-bar button:active {
  background: #a696d2;
}

.search-bar button:focus-visible {
  outline: 1px solid var(--purple-1);
  border-left: 1px solid var(--purple-1);
}

.search-bar svg {
  vertical-align: middle;
  width: 2em;
  height: 2em;

  margin: auto 10px;
}

.fancy-btn {
  width: 55px;
  height: 55px;

  border: none;
  border-radius: 100%;
  background-color: #fff;

  padding: 0;

  cursor: pointer;
  user-select: none;
}

.fancy-btn:active {
  background-color: #eee;
}

.fancy-btn > div {
  width: inherit;
  height: inherit;

  background-color: transparent;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23000000FF' stroke-width='1' stroke-dasharray='7' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
  border-radius: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 500ms;
}

.fancy-btn div * {
  width: 25px;
  height: 25px;

  color: var(--purple-1);
  transition-duration: 300ms;
}

.fancy-btn:hover > div,
.fancy-btn:focus-visible > div {
  background-image: none;
  outline: 1.5px solid var(--purple-1);
}

.fancy-btn:hover div *,
.fancy-btn:focus-visible div * {
  width: 30px;
  height: 30px;
}

.fancy-btn:focus-visible {
  outline: 1.5px solid var(--purple-1);
}

.sidebar-items {
  margin-top: 25px;
}

.sidebar-items li {
  margin-bottom: 15px;
}

.sidebar-items div {
  display: inline-block;
  vertical-align: top;
  font-weight: 600;

  margin-left: 10px;
}

.sidebar-items svg {
  width: 25px;
  height: auto;
}

.sidebar-links {
  font-weight: 600;
  margin-top: auto;
}

.footnote {
  margin-bottom: 25px;
}

.sidebar-items,
.sidebar-links {
  padding-left: 0;
  list-style-type: none;
}

.sidebar-links li,
.sidebar-items li,
.footnote {
  margin-left: 15px;
}

.carousel-wrapper {
  margin-left: 30px;
}

.carousel-wrapper ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.carousel-wrapper li {
  list-style: none;
}

.carousel-items {
  overflow-x: scroll;
  border-color: var(--transparent);

  transition: border-color 300ms;
}

.carousel-items::-webkit-scrollbar {
  border: 0;
  height: 10px;
}
.carousel-items::-webkit-scrollbar-corner,
.carousel-items::-webkit-scrollbar-thumb {
  border-color: inherit;
  border-right-style: inset;
  border-right-width: calc(100vw + 100vh);
  border-radius: 20px;
}

.carousel-items:hover,
.carousel-items:focus,
.carousel-items:active {
  border-color: var(--light-scroll-thumb);
}

.carousel-items > li {
  margin: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;

  background-color: var(--lilac-1);

  /* Temporary (to follow figma design)*/
  width: 236px;
  height: 454px;
}

.carousel-items > li > div {
  margin: 10px;
}

.carousel-items img {
  height: 270px;
}

.carousel-title {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-title h2 {
  font-size: 0.8em;
  font-size: clamp(10px, 3vw, 0.8em);

  width: 200px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* The things we do for perfection */
.carousel-title div {
  margin-top: 5px;
}

.division-solid {
  width: 90%;
  border-top: var(--text-light);
  border-width: 1px;
  border-style: solid;
  margin: auto 5px;
}

.chips-wrapper {
  overflow-y: hidden;
  overflow-x: scroll;

  border-color: var(--transparent);
  transition: border-color 300ms;
}

.chips-wrapper:hover,
.chips-wrapper:focus,
.chips-wrapper:active {
  border-color: var(--light-scroll-thumb);
}

.chips {
  padding: 0 1px;
}

.chips > * {
  font-size: 0.8em;
  font-size: clamp(10px, 3vw, 0.8em);

  margin: 0 5px 4px 5px;
  padding: 3px 5px 4px 5px;

  background-color: var(--purple-1);
  color: var(--text-dark);

  border-radius: 20px;
  white-space: nowrap;
}

.chips-wrapper::-webkit-scrollbar {
  height: 6px;
}

.chips-wrapper::-webkit-scrollbar-thumb,
.chips-wrapper::-webkit-scrollbar-corner {
  border-right-style: inset;
  border-right-width: calc(100vw + 100vh);
  border-color: inherit;
  border-radius: 20px;
}
